/* Custom Looping Animation */
@keyframes loop {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-loop {
    display: inline-block;
    animation: loop 30s linear infinite;
  }
  